/* BASE VARIABLES

//This contains all of the base 
variables required for any css
 *******************/

/* Sizes */
$width: 1000px;
$width-outer: $width + 30px;

/* Colors */
$primary: #555;
$links: blue;
$hover: red;

$text: red;

$inline-link: purple;

$bg: #FFF;

/* Fonts */
$main: 'Arial', 'Tahoma', sans-serif;

/* Borders */
$border: 1px solid #000;